<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if !current_user?(@user) && !is_user_blocked?(@user) %>
        <%= link_to "Block", block_user_path(@user.id), method: :put, 
                                      data: { confirm: "Block this user?" } %>
      <% end %>

      <% if is_user_blocked?(@user) %>
        <%= link_to "Unblock", unblock_user_path(@user.id), method: :put,
                                      data: { confirm: "Unblock this user?" } %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if !is_user_blocked?(@user) && @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>